@model IEnumerable<POCO.CompanyInfo>

@{
    ViewBag.Title = "SelectCompany";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/Content/smart_theme/dist/css/vendors.bundle.css">
    <link id="appbundle" rel="stylesheet" media="screen, print" href="~/Content/smart_theme/dist/css/app.bundle.css">
    <link id="mytheme" rel="stylesheet" media="screen, print" href="#">
    <link id="myskin" rel="stylesheet" media="screen, print" href="~/Content/smart_theme/dist/css/skins/skin-master.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon.png">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="~/Content/smart_theme/dist/css/page-login-alt.css">
    <style>
        body {
            overflow-y: scroll
        }

        .blankpage-form-field {
            margin: auto
        }

        .select2-container {
            z-index: 9999999 !important
        }
    </style>
</head>
<body>
    <!-- DOC: script to save and load page settings -->
    <script>
        /**
         *	This script should be placed right after the body tag for fast execution
         *	Note: the script is written in pure javascript and does not depend on thirdparty library
         **/
        'use strict';

        var classHolder = document.getElementsByTagName("BODY")[0],
            /**
             * Load from localstorage
             **/
            themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
                {},
            themeURL = themeSettings.themeURL || '',
            themeOptions = themeSettings.themeOptions || '';
        /**
         * Load theme options
         **/
        if (themeSettings.themeOptions) {
            classHolder.className = themeSettings.themeOptions;
            console.log("%c✔ Theme settings loaded", "color: #148f32");
        }
        else {
            console.log("%c✔ Heads up! Theme settings is empty or does not exist, loading default settings...", "color: #ed1c24");
        }
        if (themeSettings.themeURL && !document.getElementById('mytheme')) {
            var cssfile = document.createElement('link');
            cssfile.id = 'mytheme';
            cssfile.rel = 'stylesheet';
            cssfile.href = themeURL;
            document.getElementsByTagName('head')[0].appendChild(cssfile);

        }
        else if (themeSettings.themeURL && document.getElementById('mytheme')) {
            document.getElementById('mytheme').href = themeSettings.themeURL;
        }
        /**
         * Save to localstorage
         **/
        var saveSettings = function () {
            themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function (item) {
                return /^(nav|header|footer|mod|display)-/i.test(item);
            }).join(' ');
            if (document.getElementById('mytheme')) {
                themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
            };
            localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
        }
        /**
         * Reset settings
         **/
        var resetSettings = function () {
            localStorage.setItem("themeSettings", "");
        }

    </script>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back</a>

    <div class="row  w-75 justify-content-center">

        @foreach (var item in Model)
        {
            <div class="col-md-3 my-3 change_if_2">
                <div class="blankpage-form-field">
                    <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
                        <a class="page-logo-link d-flex align-items-center">
                            @{
                                var img = @Convert.ToBase64String(item.Img);
                            }
                            @if (img == "MHg=")
                            {
                                <img src="~/Content/img/Company.png" aria-roledescription="logo" />
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Img)" alt="Eexa system" aria-roledescription="logo">
                            }

                            <span class="page-logo-text mr-1">@Html.DisplayFor(modelItem => item.CompanyPrimaryName)<br>@Html.DisplayFor(modelItem => item.CompanySecondaryName)</span>
                        </a>
                    </div>
                    <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0 text-center">
                        <a href="@Url.Action("SelectCompanyLink","Authentication", new { Company = item.Id })">
                            <address class="m-t-md">
                                <strong> @(String.IsNullOrEmpty(item.Address) ? "Address" : item.Address)</strong><br>

                                <abbr title="Phone"></abbr> @(String.IsNullOrEmpty(item.Phone) ? "Phone" : item.Phone)
                            </address>
                        </a>

                    </div>
                </div>
            </div>
        }


    </div>

    <h1 class="text-black my-5">SelectCompany</h1>
    <span class="mb-3"><img src="~/Content/img/logo-small.png" width="150" /></span>

    <video poster="~/Content/smart_theme/dist/img/backgrounds/clouds.png" id="bgvid" playsinline autoplay muted loop>

        <source src="~/Content/smart_theme/dist/media/video/cc.mp4" type="video/mp4">
    </video>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Page related scripts -->
</body>
</html>


