@model POS.Models.Main

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @{
        string assets = "/Content/themes/default/assets/";
        string lang = "ltr";
        //Start Settings Table
        string theme = "default";
        string theme_style = "purple-light";
        string site_name = "SimplePOS";
        string language = "english";
        string selected_language = "en";
        bool multi_store = false;
        int default_customer = 1;
        string header = "";
        int remote_printing = 1;
        string dateformat = "D j M Y";
        int default_category = 1;
        int stripe = 0;
        string timeformat = "h:i A";
        string protocol = "mail";
        string smtp_host = "pop.gmail.com";
        string smtp_user = "noreply@spos.tecdiary.my";
        string smtp_pass = "";
        string version = "4.1.0";
        int smtp_port = 25;
        string smtp_crypto = "";
        string mailpath = "";
        string timezone = "Asia/Kuala_Lumpur";
        int setting_id = 1;
        string logo = "logo1.png";
        string default_email = "aboodcs1995@gmail.com";
        int mmode = 0;
        int captcha = 0;
        string currency_prefix = "JOD";
        string default_tax_rate = "16%";
        int rows_per_page = 10;
        int total_rows = 30;
        string footer = "";
        int bsty = 3;
        int display_kb = 0;
        int default_discount = 0;
        int item_addition = 1;
        string barcode_symbology = "";
        int pro_limit = 10;
        int decimals = 2;
        string thousands_sep = ".";
        string decimals_sep = ".";
        string focus_add_item = "ALT+F1";
        string add_customer = "ALT+F2";
        string toggle_category_slider = "ALT+F10";
        string cancel_sale = "ALT+F5";
        string suspend_sale = "ALT+F6";
        string print_order = "ALT+F11";
        string print_bill = "ALT+F12";
        string finalize_sale = "ALT+F8";
        string today_sale = "Ctrl+F1";
        string open_hold_bills = "Ctrl+F2";
        string close_register = "Ctrl+F7";
        int java_applet = 0;
        string receipt_printers = "";
        string cash_drawer_codes = "";
        int char_per_line = 42;
        int rounding = 1;
        int pin_code = 2122;
        string stripe_secret_key = "";
        string stripe_publishable_key = "";
        string purchase_code = "416de128-7cac-4ac5-a362-b980c82decff";
        string envato_username = "ACS-Techs";
        int after_sale_page = 0;
        int overselling = 1;
        int qty_decimals = 2;
        string symbol = "";
        int sac = 0;
        int display_symbol = 0;
        int remote_primting = 1;
        int printer = 1;
        string order_printers = "";
        int auto_print = 0;
        int local_printers = 1;
        int rtl = 0;
        int print_img = 0;
        string ws_barcode_type = "weight";
        int ws_barcode_chars = 13;
        int flag_chars = 1;
        int item_code_start = 2;
        int item_code_chars = 6;
        int price_start = 0;
        int price_chars = 0;
        int price_divide_by = 0;
        int weight_start = 8;
        int weight_chars = 5;
        int weight_divide_by = 100;
        //End Settings Table
        //Start Stores Table
        string store_name = "SimplePOS";
        string store_code = "POS";
        string store_email = "store@tecdiary.com";
        string store_phone = "012345678";
        string store_address1 = "Address Line 1";
        string store_address2 = "";
        string store_city = "Petaling Jaya";
        string store_state = "Selangor";
        int store_postal_code = 46000;
        string store_country = "Jordan";
        string store_currency_code = "JOD";
        string store_receipt_header = "";
        string store_receipt_footer = "This is receipt footer for store";
        //End Stores Table
        //Start Printers Table
        string printer_title = "XPrinter";
        string printer_type = "network";
        string printer_profile = "default";
        int printer_char_per_line = 45;
        string printer_path = "";
        string printer_ip_address = "0x3139322E3136382E312E323030";
        int printer_port = 9100;
        //End Printers Table
    }

  

    <meta charset="UTF-8">
    <title>POS</title>
    <link rel="shortcut icon" href="@(assets)images/icon.png" />

    <link href="@(assets)dist/css/styles.css" rel="stylesheet" type="text/css" />
    @if (lang == "rtl")
    {
        <link href="@(assets)dist/css/rtl.css" rel="stylesheet" />
    }
    <script src="@(assets)plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <style>
        input.form-control {
            border-radius: 7px !important
        }
        .list-table .success {
            background-color: #b19dce !important;
            color: #fff
        }
            .list-table .success th {
                background-color: #987bc3 !important
            }
        .pos .contents {
            padding: 15px !important
        }
        .text-white {
            color: #fff !important
        }
        .pos .contents {
            background-color: #fff !important
        }
        .nav-tabs-buttons {
            width: 75%;
            margin: auto;
            background-color: #605ca8;
            border-radius:10px;
            margin-bottom:2rem
        }
        .nav-tabs-buttons li{
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }

        .nav > li > a:active, .nav > li > a:focus, .nav > li > a:hover {
            background-color: #4e499d;
            color: #fff
        }
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: #4e499d
        }
            .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
                border-top-color: #4e499d;
            }
        .real-tabs li a:hover {
            background-color: #eee !important;
            color: #4e499d !important
        }
        #item-list .slimScrollDiv{
            height:690px !important
        }
    </style>
</head>
<body class="skin-@theme_style sidebar-collapse sidebar-mini pos">
        <header class="main-header">
            <a href="@Url.Action("Index","Home")" class="logo">
                <span class="logo-mini">POS</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <ul class="nav navbar-nav pull-left">
                    <li class="dropdown">
                        <a href="@Url.Action("Index","Home")" class="dropdown-toggle" data-toggle="dropdown"><img src="@(assets)/images/@(selected_language).png" alt="@selected_language"></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("SetLanguage","Language")?lang=en">
                                    <img src="@assets/images/en.png"
                                         class="language-img"> English
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="clock"></a></li>
                        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i></a></li>
                        <li><a href="@Url.Action("Settings","Home")"><i class="fa fa-cogs"></i></a></li>
                        <li><a href="@Url.Action("view_bill","POS")" target="_blank"><i class="fa fa-desktop"></i></a></li>
                        <li class="hidden-xs hidden-sm"><a href="@Url.Action("shortcuts","POS")" data-toggle="ajax"><i class="fa fa-key"></i></a></li>
                        <li><a href="@Url.Action("register_details","POS")" data-toggle="ajax">@Resources.Default.register_details</a></li>
                        <li><a href="@Url.Action("today_sale","POS")" data-toggle="ajax">@Resources.Default.today_sale</a></li>
                        <li><a href="@Url.Action("close_register","POS")" data-toggle="ajax">@Resources.Default.close_register</a></li>
                        <li class="dropdown notifications-menu" id="suspended_sales">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning"><?=sizeof($suspended_sales);?></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">
                                    <input type="text" autocomplete="off" data-list=".list-suspended-sales" name="filter-suspended-sales" id="filter-suspended-sales" class="form-control input-sm kb-text clearfix" placeholder="@Resources.Default.filter_by_reference">
                                </li>
                                <li>
                                    <ul class="menu">
                                        <li class="list-suspended-sales">
                                            <?php
                                            foreach ($suspended_sales as $ss) {
                                            echo '<a href="' . site_url('pos/?hold=' . $ss->id) . '" class="load_suspended">' . $this->tec->hrld($ss->date) . ' (' . $ss->customer_name . ')<br><div class="bold">' . $ss->hold_ref . '</div></a>';
                                            }
                                            ?>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="@Url.Action("opened","sales")">@Resources.Default.view_all</a></li>
                            </ul>
                        </li>
                        <?php } ?>
                        <li class="dropdown user user-menu"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/Avatar/@Session["Avatar"]" class="user-image" alt="Avatar" />
                                <span>@Session["first_name"] &nbsp;@Session["last_name"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/Content/Avatar/@Session["Avatar"]" class="img-circle" alt="Avatar" />
                                    <p>
                                        <?= $this->session->userdata('email'); ?>
                                        <small><?= lang('member_since') . ' ' . $this->session->userdata('created_on'); ?></small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="<?= site_url('users/profile/' . $this->session->userdata('user_id')); ?>" class="btn btn-default btn-flat"><?= lang('profile'); ?></a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="<?= site_url('logout'); ?>" class="btn btn-default btn-flat<?= $this->session->userdata('register_id') ? ' sign_out' : ''; ?>"><?= lang('sign_out'); ?></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar" class="sidebar-icon"><i class="fa fa-folder sidebar-icon"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
    <div class="content-wrapper">


        <table style="width:100%;" class="layout-table">
            <tr style="width:100%;">
                <td style="width: 35%;">

                    <div id="pos" style="background-color:#fff">
                        <div class="well well-sm" id="leftdiv">
                            <div id="lefttop" style="margin-bottom:5px;">
                                <div class="form-group" style="margin-bottom:5px;">
                                    <input type="text" name="hold_ref" id="hold_ref" class="form-control kb-text" placeholder="@Resources.Default.reference_note" />
                                </div>
                                <div class="form-group" style="margin-bottom:5px;">
                                    <input type="text" name="code" id="add_item" class="form-control" placeholder="@Resources.Default.search__scan" />
                                </div>
                            </div>
                            <div id="printhead" class="print">
                                @header
                                <p><?= lang('date'); ?>: <?=date(@dateformat)?></p>
                            </div>
                            <div id="print" class="fixed-table-container">
                                <div id="list-table-div">
                                    <div class="fixed-table-header">
                                        <table class="table table-striped table-condensed table-hover list-table" style="margin:0;">
                                            <thead>
                                                <tr class="success">
                                                    <th>@Resources.Default.product</th>
                                                    <th style="width: 15%;text-align:center;">@Resources.Default.price</th>
                                                    <th style="width: 15%;text-align:center;">@Resources.Default.qty</th>
                                                    <th style="width: 20%;text-align:center;">@Resources.Default.subtotal</th>
                                                    <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <table id="posTable" class="table table-striped table-condensed table-hover list-table" style="margin:0px;" data-height="100">
                                        <thead>
                                            <tr class="success">
                                                <th>@Resources.Default.product</th>
                                                <th style="width: 15%;text-align:center;">@Resources.Default.price</th>
                                                <th style="width: 15%;text-align:center;">@Resources.Default.qty</th>
                                                <th style="width: 20%;text-align:center;">@Resources.Default.subtotal</th>
                                                <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div style="clear:both;"></div>
                                <div id="totaldiv">
                                    <table class="table-condensed totals" style="margin-bottom:10px;width:100%">
                                        <tbody>
                                            <tr style="border-bottom:1px solid #605ca8;border-top:1px solid #605ca8;">
                                                <td width="20%" style="font-size:16px;font-weight:bold">@Resources.Default.total_items</td>
                                                <td class="text-right" style="padding-right:10px;font-size:16px;font-weight:bold"><span id="count">0</span></td>
                                                <td width="20%" style="font-size:16px;font-weight:bold">@Resources.Default.total</td>
                                                <td class="text-right" colspan="2"><span id="total" style="font-size:16px;font-weight:bold">0</span></td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #605ca8;border-top:1px solid #605ca8;">
                                                <td width="20%"><a href="#" id="add_discount" style="font-size:16px;font-weight:bold;color:#1A73E8">@Resources.Default.discount</a></td>
                                                <td class="text-right" style="padding-right:10px;font-size:16px;font-weight:bold;color:#1A73E8"><span id="ds_con">0</span></td>
                                                <td width="20%"><a href="#" id="add_tax" style="font-size:16px;font-weight:bold;color:#1A73E8">@Resources.Default.order_tax</a></td>
                                                <td class="text-right"><span id="ts_con" style="font-size:16px;font-weight:bold;color:#1A73E8">0</span></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" style="font-size:25px;font-weight:bold;color:#00a65a">
                                                    @Resources.Default.total_payable
                                                    @*<a role="button" data-toggle="modal" data-target="#noteModal">
                                                        <i class="fa fa-comment"></i>
                                                    </a>*@
                                                </td>
                                                <td class="text-right" colspan="2" style="font-size:25px;font-weight:bold;color:#00a65a"><span id="total-payable">0</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="botbuttons">
                                <div style="width:100%">
                                    <div style="width:49%;display:inline-block;padding:10px">
                                            <button type="button" class="btn btn-warning" id="suspend" style="border-radius:15px;width:100%;height:40px">
                                                @Resources.Default.hold
                                            </button>

                                    </div>
                                    <div style="width:49%;display:inline-block;padding:10px">
                                        <button type="button" class="btn btn-danger" id="reset" style="border-radius:15px;width:100%;height:40px">
                                            @Resources.Default.cancel
                                        </button>
                                    </div>
                                    <div style="width:49%;display:inline-block;padding:10px">
                                            <button type="button" class="btn bg-purple btn-block btn-flat" id="print_order" style="border-radius:15px;width:100%;height:40px">@Resources.Default.print_order</button>

                                            
                                    </div>
                                    <div style="width:49%;display:inline-block;padding:10px">
                                        <button type="button" class="btn bg-navy" id="print_bill" style="border-radius:15px;width:100%;height:40px">@Resources.Default.print_bill</button>
                                    </div>
                                    <div style="width:100%;display:inline-block;padding:10px">
                                        <button type="button" class="btn btn-success" style="border-radius:15px;width:100%;height:50px" id="<?= $eid ? 'submit-sale' : 'payment'; ?>">@Resources.Default.payment</button>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <span id="hidesuspend"></span>
                            <input type="hidden" name="spos_note" value="" id="spos_note">

                            <div id="payment-con">
                                <input type="hidden" name="amount" id="amount_val" value="<?= $eid ? $sale->paid : ''; ?>" />
                                <input type="hidden" name="balance_amount" id="balance_val" value="" />
                                <input type="hidden" name="paid_by" id="paid_by_val" value="cash" />
                                <input type="hidden" name="cc_no" id="cc_no_val" value="" />
                                <input type="hidden" name="paying_gift_card_no" id="paying_gift_card_no_val" value="" />
                                <input type="hidden" name="cc_holder" id="cc_holder_val" value="" />
                                <input type="hidden" name="cheque_no" id="cheque_no_val" value="" />
                                <input type="hidden" name="cc_month" id="cc_month_val" value="" />
                                <input type="hidden" name="cc_year" id="cc_year_val" value="" />
                                <input type="hidden" name="cc_type" id="cc_type_val" value="" />
                                <input type="hidden" name="cc_cvv2" id="cc_cvv2_val" value="" />
                                <input type="hidden" name="balance" id="balance_v" value="" />
                                <input type="hidden" name="payment_note" id="payment_note_val" value="" />
                            </div>
                            <input type="hidden" name="customer" id="customer" value="@default_customer" />
                            <input type="hidden" name="order_tax" id="tax_val" value="" />
                            <input type="hidden" name="order_discount" id="discount_val" value="" />
                            <input type="hidden" name="count" id="total_item" value="" />
                            <input type="hidden" name="did" id="did_delete" />
                            <input type="hidden" name="eid" id="eid_delete" />
                            <input type="hidden" name="total_items" id="total_items" value="0" />
                            <input type="hidden" name="total_quantity" id="total_quantity" value="0" />
                            <input type="submit" id="submit" value="Submit Sale" style="display: none;" />
                        </div>
                    </div>

                </td>
                <td style="width:65%;">
                    <div class="contents">
                        
                        <ul class="nav nav-pills nav-justified nav-tabs-buttons">
                            @foreach (var item in Model.Group)
                            {
                                <li><a data-toggle="tab" href="#@item.Id" class="text-white">@item.GroupName</a></li>

                            }
                        </ul>
                        <div class="tab-content">
                            <ul class="nav nav-tabs real-tabs nav-justified">
                                @foreach (var item in Model.Category)
                                {
                                    <li><a data-toggle="tab" href="#@item.CategoryId" id="@item.GroupId" onclick="myfunction(@item.CategoryId)">@item.CategoryName</a></li>

                                }
                            </ul>

                        </div>
                        <br />

                        <div id="item-list">
                            <div class="items" id="emptyitems" style="width:100%"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="control-sidebar-bg sb"></div>
    <div id="order_tbl" style="display:none;">
        <span id="order_span"></span>
        <table id="order-table" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
    </div>
    <div id="bill_tbl" style="display:none;">
        <span id="bill_span"></span>
        <table id="bill-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
        <table id="bill-total-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
    </div>
    <div style="width:435px;background:#FFF;display:block">
        <div id="order-data" style="display:none;" class="text-center">
            <h1><?= $store->name; ?></h1>
            <h2>@Resources.Default.order</h2>
            <div id="preo" class="text-left"></div>
        </div>
        <div id="bill-data" style="display:none;" class="text-center">
            <h1><?= $store->name; ?></h1>
            <h2>@Resources.Default.bill</h2>
            <div id="preb" class="text-left"></div>
        </div>
    </div>

    <div id="ajaxCall"><i class="fa fa-spinner fa-pulse"></i></div>

    <div class="modal" data-easein="flipYIn" id="gcModal" tabindex="-1" role="dialog" aria-labelledby="mModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Default.sell_gift_card</h4>
                </div>
                <div class="modal-body">
                    <p>@Resources.Default.enter_info</p>

                    <div class="alert alert-danger gcerror-con" style="display: none;">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <span id="gcerror"></span>
                    </div>
                    <div class="form-group">
                        <?= lang('card_no', 'gccard_no'); ?> *
                        <div class="input-group">
                            <?php echo form_input('gccard_no', '', 'class="form-control" id="gccard_no"'); ?>
                            <div class="input-group-addon" style="padding-left: 10px; padding-right: 10px;"><a href="#" id="genNo"><i class="fa fa-cogs"></i></a></div>
                        </div>
                    </div>
                    <input type="hidden" name="gcname" value="<?= lang('gift_card') ?>" id="gcname" />
                    <div class="form-group">
                        <?= lang('value', 'gcvalue'); ?> *
                        <?php echo form_input('gcvalue', '', 'class="form-control" id="gcvalue"'); ?>
                    </div>
                    <div class="form-group">
                        <?= lang('price', 'gcprice'); ?> *
                        <?php echo form_input('gcprice', '', 'class="form-control" id="gcprice"'); ?>
                    </div>
                    <div class="form-group">
                        <?= lang('expiry_date', 'gcexpiry'); ?>
                        <?php echo form_input('gcexpiry', '', 'class="form-control" id="gcexpiry"'); ?>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="button" id="addGiftCard" class="btn btn-primary">@Resources.Default.sell_gift_card</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="dsModal" tabindex="-1" role="dialog" aria-labelledby="dsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="dsModalLabel">@Resources.Default.discount_title</h4>
                </div>
                <div class="modal-body">
                    <input type='text' class='form-control input-sm kb-pad' id='get_ds' onClick='this.select();' value=''>

                    <label class="checkbox" for="apply_to_order">
                        <input type="radio" name="apply_to" value="order" id="apply_to_order" checked="checked" />
                        @Resources.Default.apply_to_order
                    </label>
                    <label class="checkbox" for="apply_to_products">
                        <input type="radio" name="apply_to" value="products" id="apply_to_products" />
                        @Resources.Default.apply_to_products
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="button" id="updateDiscount" class="btn btn-primary btn-sm">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="tsModal" tabindex="-1" role="dialog" aria-labelledby="tsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="tsModalLabel">@Resources.Default.tax_title</h4>
                </div>
                <div class="modal-body">
                    <input type='text' class='form-control input-sm kb-pad' id='get_ts' onClick='this.select();' value=''>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="button" id="updateTax" class="btn btn-primary btn-sm">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="noteModalLabel">@Resources.Default.note</h4>
                </div>
                <div class="modal-body">
                    <textarea name="snote" id="snote" class="pa form-control kb-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="button" id="update-note" class="btn btn-primary btn-sm">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="proModal" tabindex="-1" role="dialog" aria-labelledby="proModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="proModalLabel">
                        @Resources.Default.payment
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th style="width:25%;">@Resources.Default.net_price</th>
                            <th style="width:25%;"><span id="net_price"></span></th>
                            <th style="width:25%;">@Resources.Default.product_tax</th>
                            <th style="width:25%;"><span id="pro_tax"></span> <span id="pro_tax_method"></span></th>
                        </tr>
                    </table>
                    <input type="hidden" id="row_id" />
                    <input type="hidden" id="item_id" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <?=lang('unit_price', 'nPrice')?>
                                <input type="text" class="form-control input-sm kb-pad" id="nPrice" onClick="this.select();" placeholder="@Resources.Default.new_price">
                            </div>
                            <div class="form-group">
                                <?=lang('discount', 'nDiscount')?>
                                <input type="text" class="form-control input-sm kb-pad" id="nDiscount" onClick="this.select();" placeholder="@Resources.Default.discount">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <?=lang('quantity', 'nQuantity')?>
                                <input type="text" class="form-control input-sm kb-pad" id="nQuantity" onClick="this.select();" placeholder="@Resources.Default.current_quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <?=lang('comment', 'nComment')?>
                                <textarea class="form-control kb-text" id="nComment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button class="btn btn-success" id="editItem">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="susModal" tabindex="-1" role="dialog" aria-labelledby="susModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="susModalLabel">@Resources.Default.suspend_sale</h4>
                </div>
                <div class="modal-body">
                    <p>@Resources.Default.type_reference_note</p>

                    <div class="form-group">
                        @Resources.Default.reference_note
                        <?php echo form_input('reference_note', $reference_note, 'class="form-control kb-text" id="reference_note"'); ?>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> @Resources.Default.close </button>
                    <button type="button" id="suspend_sale" class="btn btn-primary">@Resources.Default.submit</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" data-easein="flipYIn" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="saleModalLabel" aria-hidden="true"></div>
    <div class="modal" data-easein="flipYIn" id="opModal" tabindex="-1" role="dialog" aria-labelledby="opModalLabel" aria-hidden="true"></div>

    <div class="modal" data-easein="flipYIn" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-success">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="payModalLabel">
                        @Resources.Default.payment
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="font16">
                                <table class="table table-bordered table-condensed" style="margin-bottom: 0;">
                                    <tbody>
                                        <tr>
                                            <td width="25%" style="border-right-color: #FFF !important;">@Resources.Default.total_items</td>
                                            <td width="25%" class="text-right"><span id="item_count">0.00</span></td>
                                            <td width="25%" style="border-right-color: #FFF !important;">@Resources.Default.total_payable</td>
                                            <td width="25%" class="text-right"><span id="twt">0.00</span></td>
                                        </tr>
                                        <tr>
                                            <td style="border-right-color: #FFF !important;">@Resources.Default.total_paying</td>
                                            <td class="text-right"><span id="total_paying">0.00</span></td>
                                            <td style="border-right-color: #FFF !important;">@Resources.Default.balance</td>
                                            <td class="text-right"><span id="balance">0.00</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Resources.Default.note
                                        <textarea name="note" id="note" class="pa form-control kb-text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Resources.Default.amount
                                        <input name="amount" type="text" id="amount"
                                               class="pa form-control kb-pad amount" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <?= lang('paying_by', 'paid_by'); ?>
                                        <select id="paid_by" class="form-control paid_by select2" style="width:100%;">
                                            <option value="cash">@Resources.Default.cash</option>
                                            <option value="CC">@Resources.Default.cc</option>
                                            <option value="cheque">@Resources.Default.cheque</option>
                                            <option value="gift_card">@Resources.Default.gift_card</option>
                                            <?= isset(@stripe) ? '
                                        <option value="stripe">' . @Resources.Default.stripe . '</option>' : ''; ?>
                                        <option value="other">@Resources.Default.other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group gc" style="display: none;">
                                        @Resources.Default.gift_card_no
                                        <input type="text" id="gift_card_no"
                                               class="pa form-control kb-pad gift_card_no gift_card_input" />

                                        <div id="gc_details"></div>
                                    </div>
                                    <div class="pcc" style="display:none;">
                                        <div class="form-group">
                                            <input type="text" id="swipe" class="form-control swipe swipe_input"
                                                   placeholder="@Resources.Default.focus_swipe_here" />
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" id="pcc_no"
                                                           class="form-control kb-pad"
                                                           placeholder="@Resources.Default.cc_no" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">

                                                    <input type="text" id="pcc_holder"
                                                           class="form-control kb-text"
                                                           placeholder="@Resources.Default.cc_holder" />
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <select id="pcc_type"
                                                            class="form-control pcc_type select2"
                                                            placeholder="@Resources.Default.card_type">
                                                        <option value="Visa">@Resources.Default.visa</option>
                                                        <option value="MasterCard">
                                                            @Resources.Default.master_card
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <input type="text" id="pcc_month"
                                                           class="form-control kb-pad"
                                                           placeholder="Expirey date" />
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">

                                                    <input type="text" id="pcc_cvv2"
                                                           class="form-control kb-pad"
                                                           placeholder="@Resources.Default.cvv2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pcheque" style="display:none;">
                                        <div class="form-group">
                                            @Resources.Default.cheque_no
                                            <input type="text" id="cheque_no"
                                                   class="form-control cheque_no kb-text" />
                                        </div>
                                    </div>
                                    <div class="pcash">
                                        <div class="form-group">
                                            @Resources.Default.payment_note
                                            <input type="text" id="payment_note"
                                                   class="form-control payment_note kb-text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 text-center">
                            <!-- <span style="font-size: 1.2em; font-weight: bold;"><?= lang('quick_cash'); ?></span> -->

                            <div class="btn-group btn-group-vertical" style="width:100%;">
                                <button type="button" class="btn btn-info btn-block quick-cash" id="quick-payable">
                                    0.00
                                </button>
                                <?php
                                foreach (lang('quick_cash_notes') as $cash_note_amount) {
                                echo '<button type="button" class="btn btn-block btn-warning quick-cash">' . $cash_note_amount . '</button>';
                                }
                                ?>
                                      <button type="button" class="btn btn-block btn-danger"
                                              id="clear-cash-notes">
                                          @Resources.Default.payment_note
                                      </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button class="btn btn-primary" id="<?= $eid ? '' : 'submit-sale'; ?>">@Resources.Default.submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="cModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="cModalLabel">
                        @Resources.Default.add_customer
                    </h4>
                </div>
                <?= form_open('pos/add_customer', 'id="customer-form"'); ?>
                <div class="modal-body">
                    <div id="c-alert" class="alert alert-danger" style="display:none;"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="code">
                                    @Resources.Default.name
                                </label>
                                <input name="name" class="form-control input-sm kb-text" id="cname" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="cemail">
                                    @Resources.Default.email_address
                                </label>
                                <input name="email" class="form-control input-sm kb-text" id="cemail" type="email" />
                                <?= form_input('email', '', 'class="form-control input-sm kb-text" id="cemail"'); ?>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="phone">
                                    @Resources.Default.phone
                                </label>
                                <input name="phone" class="form-control input-sm kb-pad" id="cphone" type="tel" />
                                <?= form_input('phone', '', 'class="form-control input-sm kb-pad" id="cphone"');?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="cf1">
                                    @Resources.Default.cf1
                                </label>
                                <input name="cf1" class="form-control input-sm kb-text" id="cf1" type="text" />
                                <?= form_input('cf1', '', 'class="form-control input-sm kb-text" id="cf1"'); ?>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="cf2">
                                    @Resources.Default.cf2
                                </label>
                                <input name="cf2" class="form-control input-sm kb-text" id="cf2" type="text" />
                                <?= form_input('cf2', '', 'class="form-control input-sm kb-text" id="cf2"');?>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="margin-top:0;">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="submit" class="btn btn-primary" id="add_customer">@Resources.Default.add_customer</button>
                </div>
                <?= form_close(); ?>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header np">
                    <button type="button" class="close" id="print-modal-close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <button type="button" class="close mr10" onclick="window.print();"><i class="fa fa-print"></i></button>
                    <h4 class="modal-title" id="print-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="print-body"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" data-easein="flipYIn" id="posModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal" data-easein="flipYIn" id="posModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true"></div>

    <script type="text/javascript">
        jsonObj = [];
        $(document).ready(function () {
                        $.ajax({
                              type: 'get',
                              url: "http://localhost:54688/Items/Get_Items?CompanyId=1158&BranchId=307&Language=en",
                              contentType: 'application/json',
                              dataType: 'json',
                              data: {},
                                success: function (data) {
                                

                                    for (var i = 0; i < data.ResponseDetails.length; i++) {

                                        var item=[];
                                        item["id"] = data.ResponseDetails[i].ItemId;
                                        item["ItemId"] = data.ResponseDetails[i].ItemId;
                                        item["ItemName"] = data.ResponseDetails[i].ItemPrimaryName + "-" + data.ResponseDetails[i].ItemBarcode  ;
                                        item["label"] = data.ResponseDetails[i].ItemPrimaryName +"-"+ data.ResponseDetails[i].ItemBarcode ;
                                        item["Qty"] = typeof data.ResponseDetails[i].Qty !== 'undefined'? data.ResponseDetails[i].Qty :0;
                                        item["ItemBarcode"] = data.ResponseDetails[i].ItemBarcode;
                                        item["Price"] = data.ResponseDetails[i].Price;
                                        item["taxRate"] = data.ResponseDetails[i].taxRate;
                                         
                                      jsonObj.push(item);
                                
                                    }
                                }
                    });
        });
        function myfunction(id) {
            $("#emptyitems").empty();
            $.ajax({
              type: 'get',
              url: "@Url.Action("GetItemsByCategoryId", "POS")?Id=" + id ,
              contentType: 'application/json',
              dataType: 'json',
              data: {},
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Image != "") {
                            $("#emptyitems").append('<button type="button" data-name=' + data[i].ItemName + ' id=' + data[i].ItemId + ' value=' + data[i].ItemId + ' class="btn btn-both btn-flat product"><span class="bg-img"><img src="http://localhost:50942/uploads/ItemFiles/' + data[i].Image + '" alt=' + data[i].ItemName + ' style="width: 100%; height: 200px;"></span><span><span style="float:right;text-align:right;width:70%">' + data[i].ItemName + '</span><span style="float:left;text-align:left;width:29%">' + data[i].Price +'</span></span></button>');
                        } else {
                            $("#emptyitems").append('<button type="button" data-name=' + data[i].ItemName + ' id=' + data[i].ItemId + ' value=' + data[i].ItemId + ' class="btn btn-both btn-flat product"><span class="bg-img"><img src="http://localhost:50942/uploads/ItemFiles/637720557797713568.jfif" alt=' + data[i].ItemName + ' style="width: 100%; height: 200px;"></span><span><span style="float:right;text-align:right;width:70%">' + data[i].ItemName +'</span><span style="float:left;text-align:left;width:29%">'+data[i].Price+'</span></span></button>');
                        }
                    }
                        }
                    });
        }

        var Settings = {
            theme: "default",
            theme_style : "purple-light",
                site_name : "SimplePOS",
                language : "english",
                selected_language : "en",
                multi_store : false,
                default_customer : 1,
                header : "",
                remote_printing : 1,
                    dateformat : "D j M Y",
                    default_category : 1,
                    stripe : 0,
                    timeformat : "h:i A",
                    protocol : "mail",
                    smtp_host : "pop.gmail.com",
                    smtp_user : "noreply@spos.tecdiary.my",
                    smtp_pass : "",
                    version : "4.1.0",
                    smtp_port : 25,
                    smtp_crypto : "",
                    mailpath : "",
                    timezone : "Asia/Kuala_Lumpur",
                    setting_id : 1,
                    logo : "logo1.png",
                    default_email : "aboodcs1995@gmail.com",
                    mmode : 0,
                    captcha : 0,
                    currency_prefix : "JOD",
                    default_tax_rate : "16%",
                    rows_per_page : 10,
                    total_rows : 30,
                    footer : "",
                    bsty : 3,
                    display_kb : 0,
                    default_discount : 0,
                    item_addition : 1,
                    barcode_symbology : "",
                    pro_limit : 10,
                    decimals : 2,
                    thousands_sep : ".",
                    decimals_sep : ".",
                    focus_add_item : "ALT+F1",
                    add_customer : "ALT+F2",
                    toggle_category_slider : "ALT+F10",
                    cancel_sale : "ALT+F5",
                    suspend_sale : "ALT+F6",
                    print_order : "ALT+F11",
                        print_bill : "ALT+F12",
                            finalize_sale : "ALT+F8",
                            today_sale : "Ctrl+F1",
                            open_hold_bills : "Ctrl+F2",
                            close_register : "Ctrl+F7",
                            java_applet : 0,
                            receipt_printers : "",
                                cash_drawer_codes : "",
                                char_per_line : 42,
                                rounding : 1,
                                pin_code : 2122,
                                stripe_secret_key : "",
                                stripe_publishable_key : "",
                                purchase_code : "416de128-7cac-4ac5-a362-b980c82decff",
                                envato_username : "ACS-Techs",
                                after_sale_page : 0,
                                overselling : 1,
                                qty_decimals : 2,
                                symbol : "",
                                sac : 0,
                                display_symbol : 0,
                                remote_primting : 1,
                                printer : 1,
                                    order_printers : "",
                                        auto_pr : 0,
                                        local_printers : 1,
                                            rtl : 0,
                                            print_img : 0,
                                                ws_barcode_type : "weight",
                                                ws_barcode_chars : 13,
                                                flag_chars : 1,
                                                item_code_start : 2,
                                                item_code_chars : 6,
                                                price_start : 0,
                                                price_chars : 0,
                                                price_divide_by : 0,
                                                weight_start : 8,
                                                weight_chars : 5,
            weight_divide_by: 100
        };



    var base_url = '@Request.Url.GetLeftPart(UriPartial.Authority)', assets = '@(assets)';
    var dateformat = '@(dateformat)', timeformat = '@(timeformat)';
    @*<?php unset(@protocol, @smtp_host, @smtp_user, @smtp_pass, @smtp_port, @smtp_crypto, @mailpath, @timezone, @setting_id, @default_email, @version, @stripe, @stripe_secret_key, @stripe_publishable_key); ?>*@
    var sid = false, username = '@Session["user_name"]', spositems = {};

        var pro_limit = @pro_limit, java_applet = 0, count = 1, total = 0, an = 1, p_page = 0, page = 0, cat_id = @default_category, tcp = '588';
        var gtotal = 0, order_discount = 0, order_tax = 0, protect_delete = (Settings.pin_code);@*To add popup again just add  ? 1 : 0 after Settings.pin_code*@
    var order_data = {}, bill_data = {};
        var csrf_hash = 'csrf';/*<?= $this -> security -> get_csrf_hash(); ?>*/
    if (@remote_printing == 2) {
        var ob_store_name = "My Store";
        order_data.store_name = ob_store_name;
        bill_data.store_name = ob_store_name;

        ob_header = "";
        ob_header += "My Store Header";

        if (@store_address1.Length > 0) {
            ob_header += "My Store Header Address1";
        }
        if (@store_address2.Length > 0) {
            ob_header += "My Store Header Address2";
        }
        if (@store_city.Length > 0) {
            ob_header += "My Store Header City";
        }
        ob_header += "Phone: @store_phone, @printer_char_per_line \r\n\r\n";

        order_data.header = ob_header + "@Resources.Default.order, @printer_char_per_line \r\n\r\n";
        bill_data.header = ob_header + "@Resources.Default.bill, @printer_char_per_line \r\n\r\n";
        order_data.totals = '';
        order_data.payments = '';
        bill_data.payments = '';
        order_data.footer = '';
        bill_data.footer = "@Resources.Default.bill \n";
    }

        $(document).ready(function () {
         //   if (@Session["rmspos"].ToString()) {
            if (get('spositems')) { remove('spositems'); }
            if (get('spos_discount')) { remove('spos_discount'); }
            if (get('spos_tax')) { remove('spos_tax'); }
            if (get('spos_note')) { remove('spos_note'); }
            if (get('spos_customer')) { remove('spos_customer'); }
            if (get('amount')) { remove('amount'); }
      //  }
            @Session["rmspos"]= false;
            if (get('rmspos')) {
                if (get('spositems')) { remove('spositems'); }
                if (get('spos_discount')) { remove('spos_discount'); }
                if (get('spos_tax')) { remove('spos_tax'); }
                if (get('spos_note')) { remove('spos_note'); }
                if (get('spos_customer')) { remove('spos_customer'); }
                if (get('amount')) { remove('amount'); }
                remove('rmspos');
            }
             @*if (@sid) {

                store('spositems', JSON.stringify(<?=$items;?>));
                store('spos_discount', '<?=$suspend_sale->order_discount_id;?>');
                store('spos_tax', '<?=$suspend_sale->order_tax_id;?>');
                store('spos_customer', '<?=$suspend_sale->customer_id;?>');
                $('#spos_customer').select2().select2('val', '<?=$suspend_sale->customer_id;?>');
                store('rmspos', '1');
                $('#tax_val').val('<?=$suspend_sale->order_tax_id;?>');
                $('#discount_val').val('<?=$suspend_sale->order_discount_id;?>');
                <?php } elseif ($eid) { ?>
                    $('#date').inputmask("y-m-d h:s:s", { "placeholder": "YYYY/MM/DD HH:mm:ss" });
                    store('spositems', JSON.stringify(<?=$items;?>));
                    store('spos_discount', '<?=$sale->order_discount_id;?>');
                    store('spos_tax', '<?=$sale->order_tax_id;?>');
                    store('spos_customer', '<?=$sale->customer_id;?>');
                    store('sale_date', '<?=$sale->date;?>');
                    $('#spos_customer').select2().select2('val', '<?=$sale->customer_id;?>');
                    $('#date').val('<?=$sale->date;?>');
                    store('rmspos', '1');
                    $('#tax_val').val('<?=$sale->order_tax_id;?>');
                    $('#discount_val').val('<?=$sale->order_discount_id;?>');
                    <?php } else { ?>
                        if (! get('spos_discount')) {
                            store('spos_discount', '<?=@default_discount;?>');
                            $('#discount_val').val('<?=@default_discount;?>');
                        }
                        if (! get('spos_tax')) {
                            store('spos_tax', '<?=@default_tax_rate;?>');
                            $('#tax_val').val('<?=@default_tax_rate;?>');
                        }
                        <?php } ?>

                        if (ots = get('spos_tax')) {
                            $('#tax_val').val(ots);
                        }
                        if (ods = get('spos_discount')) {
                            $('#discount_val').val(ods);
                        }
                        bootbox.addLocale('bl',{OK:'<?= lang('ok'); ?>',CANCEL:'<?= lang('no'); ?>',CONFIRM:'<?= lang('yes'); ?>'});
                        bootbox.setDefaults({closeButton:false,locale:"bl"});
                        <?php if ($eid) { ?>
                            $('#suspend').attr('disabled', true);
                            $('#print_order').attr('disabled', true);
                            $('#print_bill').attr('disabled', true);
                            <?php } ?>*@
                        });
    </script>

    <script type="text/javascript">
                        var socket = null;
                   
                        @*if (@remote_printing == 2) {
                          
                            try {
                                socket = new WebSocket('ws://127.0.0.1:6441');
                                socket.onopen = function () {
                                    console.log('Connected');
                                    return;
                                };
                                socket.onclose = function () {
                                    console.log('Connection closed');
                                    return;
                                };
                            } catch (e) {
                                console.log(e);
                            }
                            
                        }*@
                       
        @*function printBill(bill) {
           
                            if (@remote_printing == 1) {
                                Popup($('#bill_tbl').html(), 'bill');
                            } else if (@remote_printing == 2) {
                                if (socket.readyState == 1) {
                                    if (Settings.print_img == 1) {
                                        $('#bill-data').show();
                                        $('#preb').html(
                                            '<pre style="background:#FFF;font-size:20px;margin:0;border:0;color:#000 !important;">' +
                                            bill_data.info +
                                            bill_data.items +
                                            '\n' +
                                            bill_data.totals +
                                            '</pre>'
                                            );
                                        var element = $('#bill-data').get(0);
                                        html2canvas(element, {scrollY: 0, scale: 1.7}).then(function(canvas) {
                                            var dataURL = canvas.toDataURL();
                                            var socket_data = {
                                                'printer': '@local_printers' ? "''" : json_encode($printer),
                                                'text': dataURL, 'cash_drawer': 0
                                            };
                                            socket.send(JSON.stringify({
                                                type: 'print-img',
                                                data: socket_data
                                            }));
                                            // return Canvas2Image.saveAsPNG(canvas);
                                        });
                                        setTimeout(function() {
                                            $('#bill-data').hide();
                                        }, 500);
                                    } else {
                                        var socket_data = {'printer':  @local_printers ? "''" : json_encode($printer); , 'logo': '!empty($store->logo) ? base_url('uploads/' . $store->logo) : ''; ?>', 'text': bill}
                                        socket.send(JSON.stringify({
                                            type: 'print-receipt',
                                            data: socket_data
                                        }));

                                    }
                                    return false;
                                } else {
                                    bootbox.alert('@Resources.Default.pos_print_error');
                                    return false;
                                }
                            }*@
                        
                        @*var order_printers = <?= @local_printers ? "''" : json_encode($order_printers); ?>;
                        function printOrder(order) {
                            if (Settings.remote_printing == 1) {
                                Popup($('#order_tbl').html(), 'order');
                            } else if (Settings.remote_printing == 2) {
                                if (socket.readyState == 1) {
                                    if (Settings.print_img == 1) {
                                        $('#order-data').show();
                                        $('#preo').html(
                                            '<pre style="background:#FFF;font-size:20px;margin:0;border:0;color:#000 !important;">' + order_data.info + order_data.items + '</pre>'
                                            );
                                        var element = $('#order-data').get(0);
                                        html2canvas(element, {scrollY: 0, scale: 1.7}).then(function(canvas) {
                                            var dataURL = canvas.toDataURL();
                                            var socket_data = {
                                                'printer': <?= @local_printers ? "''" : json_encode($printer); ?>,
                                                'text': dataURL, 'order': 1, 'cash_drawer': 0
                                            };
                                            socket.send(JSON.stringify({
                                                type: 'print-img',
                                                data: socket_data
                                            }));
                                            // return Canvas2Image.saveAsPNG(canvas);
                                        });
                                        setTimeout(function() {
                                            $('#order-data').hide();
                                        }, 500);
                                    } else {
                                        if (order_printers == '') {
                                            //var socket_data = { 'printer': false, 'order': true,
                                            //'logo': '<?= !empty($store->logo) ? base_url('uploads/' . $store->logo) : ''; ?>',
                                            //'text': order };
                                            //socket.send(JSON.stringify({type: 'print-receipt', data: socket_data}));
                                        } else {
                                            /*
                                            $.each(order_printers, function() {
                                                var socket_data = {'printer': this, 'logo': '<?= !empty($store->logo) ? base_url('uploads/' . $store->logo) : ''; ?>', 'text': order};
                                                socket.send(JSON.stringify({type: 'print-receipt', data: socket_data}));
                                            });
                                            */
                                        }
                                    }
                                    return false;
                                } else {
                                    bootbox.alert('@Resources.Default.pos_print_error');
                                    return false;
                                }
                            }
                        }*@
    </script>


    <script src="@(assets)dist/js/libraries.min.js" type="text/javascript"></script>
    <script src="@(assets)dist/js/scripts.min.js" type="text/javascript"></script>
    <script src="@(assets)dist/js/pos.min.js" type="text/javascript"></script>
  @if (@remote_printing != 1 ) {
    <script src="@(assets)dist/js/htmlimg.js"></script>
   }
</body>
</html>
