@model POCO.Main

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">


    <table style="width:100%;" class="layout-table">
        <tr style="width:100%;">
            <td class="items-table-width">

                <div id="pos" style="background-color:#fff">
                    <div class="well well-sm" id="leftdiv">
                        <div id="lefttop" style="margin-bottom:5px;">
                            <div class="form-group" style="margin-bottom:5px;">
                                @Html.DropDownList("CustomerId", new SelectList(Model.CustomerInformation, "Id", "CustomerName"), "----- Select -----", htmlAttributes: new { @class = "form-control select2" })
                            </div>
                            <div class="form-group" style="margin-bottom:5px;">
                                <input type="text" name="hold_ref" id="hold_ref" class="form-control kb-text" placeholder="@Resources.Default.reference_note" />
                            </div>
                            <div class="form-group" style="margin-bottom:5px;">
                                <input type="text" name="code" id="add_item" class="form-control" placeholder="@Resources.Default.search__scan" />
                            </div>
                        </div>
                        <div id="printhead" class="print">
                            <p>Date :@DateTime.Now</p>
                        </div>
                        <div id="print" class="fixed-table-container">
                            <div id="list-table-div">
                                <div class="fixed-table-header">
                                    <table class="table table-striped table-condensed table-hover list-table" style="margin:0;">
                                        <thead>
                                            <tr class="success">
                                                <th style="width: 35%;text-align:center;">@Resources.Default.product</th>
                                                <th style="width: 15%;text-align:center;">@Resources.Default.qty</th>
                                                <th style="width: 15%;text-align:center;">@Resources.Default.UnitPrice</th>
                                                <th style="width: 20%;text-align:center;">VAT</th>
                                                <th style="width: 20%;text-align:center;">@Resources.Default.total</th>
                                                <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <table id="posTable" class="table table-striped table-condensed table-hover list-table" style="margin:0px;" data-height="100">
                                    <thead>
                                        <tr class="success">
                                            <th style="width: 35%;text-align:center;">@Resources.Default.product</th>
                                            <th style="width: 15%;text-align:center;">@Resources.Default.qty</th>
                                            <th style="width: 15%;text-align:center;">@Resources.Default.UnitPrice</th>
                                            <th style="width: 20%;text-align:center;">VAT</th>
                                            <th style="width: 20%;text-align:center;">@Resources.Default.total</th>
                                            <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div style="clear:both;"></div>
                            <div id="totaldiv">
                                <table class="table table-condensed totals" style="margin-bottom:10px;width:100%">
                                    <tbody>
                                        <tr class="info">
                                            <td width="20%">@Resources.Default.total_items</td>
                                            <td style="text-align:end"><span id="count">0.00</span></td>
                                            <td width="20%">@Resources.Default.total</td>
                                            <td style="text-align:end" colspan="2"><span id="total">0.00</span></td>
                                        </tr>
                                        <tr class="info">
                                            <td width="20%"><a href="#" id="add_discount">@Resources.Default.discount</a></td>
                                            <td style="text-align:end"><span id="ds_con">0.00</span></td>
                                            <td width="20%"><a href="#" id="add_tax">@Resources.Default.order_tax</a></td>
                                            <td style="text-align:end"><span id="ts_con">0.00</span></td>
                                        </tr>

                                        <tr class="success">
                                            <td colspan="2" style="font-size:20px;font-weight:bold">
                                                @Resources.Default.total_payable
                                            </td>
                                            <td class="text-right" colspan="2" style="font-size:20px;font-weight:bold;text-align:end"><span id="total-payable">0.00</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @if (Model.SalesId == 0)
                        {


                            <div id="botbuttons">
                                <div style="width:100%">
                                    <div style="width:49%;display:inline-block;padding:10px">
                                        <button type="button" class="btn btn-warning" id="suspend" style="border-radius:15px;width:100%;height:50px">
                                            @Resources.Default.hold
                                        </button>

                                    </div>
                                    <div style="width:49%;display:inline-block;padding:10px">
                                        <button type="button" class="btn btn-danger" id="reset" style="border-radius:15px;width:100%;height:50px">
                                            @Resources.Default.cancel
                                        </button>
                                    </div>

                                    <div style="width:100%;display:inline-block;padding:10px">
                                        <button type="button" class="btn btn-success" style="border-radius:15px;width:100%;height:60px" id="payment">@Resources.Default.payment</button>
                                    </div>
                                </div>

                            </div>
                        }
                        <div class="clearfix"></div>
                        <span id="hidesuspend"></span>

                        <input type="hidden" name="customer" id="customer" />
                        <input type="hidden" name="order_tax" id="tax_val" value="" />
                        <input type="hidden" name="order_discount" id="discount_val" value="" />
                        <input type="hidden" name="count" id="total_item" value="" />
                        <input type="hidden" name="did" id="did_delete" />
                        <input type="hidden" name="eid" id="eid_delete" />
                        <input type="hidden" name="total_items" id="total_items" value="0" />
                        <input type="hidden" name="total_quantity" id="total_quantity" value="0" />
                        <input type="submit" id="submit" value="Submit Sale" style="display: none;" />
                        <input type="hidden" name="SuspendedSaleId" id="SuspendedSaleId" />
                        <input type="hidden" name="SalesId" id="SalesId" value="@Model.SalesId" />
                    </div>
                </div>

            </td>
            <td class="items-width">
                <div class="contents">

                    <ul class="nav nav-pills nav-justified nav-tabs-buttons">
                        @foreach (var item in Model.Group)
                        {
                            <li><a data-toggle="tab" href="#@item.Id" class="text-white">@item.GroupName</a></li>

                        }
                    </ul>
                    <div class="tab-content">
                        <ul class="nav nav-tabs real-tabs nav-justified">
                            @foreach (var item in Model.Category)
                            {
                                <li><a data-toggle="tab" href="#@item.CategoryId" id="@item.GroupId" onclick="myfunction(@item.CategoryId)">@item.CategoryName</a></li>

                            }
                        </ul>

                    </div>
                    <br />

                    <div id="item-list">
                        <div class="items" id="emptyitems" style="width:100% !important"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="control-sidebar-bg sb"></div>
<div id="order_tbl" style="display:none;">
    <span id="order_span"></span>
    <table id="order-table" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
</div>
<div id="bill_tbl" style="display:none;">
    <span id="bill_span"></span>
    <table id="bill-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
    <table id="bill-total-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
</div>
<div style="width:435px;background:#FFF;display:block">
    <div id="order-data" style="display:none;" class="text-center">
        <h1><?= $store->name; ?></h1>
        <h2>@Resources.Default.order</h2>
        <div id="preo" class="text-left"></div>
    </div>
    <div id="bill-data" style="display:none;" class="text-center">
        <h1><?= $store->name; ?></h1>
        <h2>@Resources.Default.bill</h2>
        <div id="preb" class="text-left"></div>
    </div>
</div>

<div id="ajaxCall"><i class="fa fa-spinner fa-pulse"></i></div>
@if (Model.Registers.Status == "close" || Model.Registers.Status == null)
{
    <div class="modal" data-easein="flipYIn" id="OpenRegisterPopup" tabindex="-1" role="dialog" aria-labelledby="mModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Open Register</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        Cash in hand
                        <div class="form-group">
                            <input class="form-control" id="open_reg" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="OpenRegister()">Open Register</button>
                </div>
            </div>
        </div>
    </div>
}
<div id="BankModal" class="modal" data-easein="flipYIn" tabindex="-1" role="dialog" aria-labelledby="bankModalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel">Bank Details</h4>
            </div>
            <div class="modal-body">
                <div class="accordion">
                    @if (Model.oBankBranch != null)
                    {
                        foreach (var item in Model.oBankBranch.oLBank)
                        {
                            <div class="accordion-btn">@Html.DisplayFor(modelItem => item.BankPrimaryName)</div>
                            <div class="panel">
                                @foreach (var itemd in Model.oLBankBranch)
                                {

                                    if (item.BankId == itemd.BankId)
                                    {
                                        <p onclick="sendBank('@itemd.BranchPrimaryName','@item.BankId')" data-dismiss="modal">@Html.DisplayFor(modelItem => itemd.BranchPrimaryName)</p>

                                    }
                                }
                                @*<div class="accordion-btn inner-accord">Nested Accordion 1</div>
                                    <div class="panel">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium hendrerit vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sed vehicula eros, at rhoncus turpis.</p>
                                    </div>*@
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>