@model POCO.Main

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @{
        string assets = "/Content/themes/default/assets/";
        string lang = "ltr";
        //Start Settings Table
        string theme_style = "purple-light";
        string selected_language = "en";
        int default_customer = 1;
        string header = "";
        int remote_printing = 1;
        string dateformat = "D j M Y";
        int default_category = 1;
        int stripe = 0;
        string timeformat = "h:i A";
        int pro_limit = 10;
        //End Settings Table
        //Start Stores Table

        string store_phone = "012345678";
        string store_address1 = "Address Line 1";
        string store_address2 = "";
        string store_city = "Petaling Jaya";

        //End Stores Table
        //Start Printers Table

        int printer_char_per_line = 45;

        //End Printers Table
    }



    <meta charset="UTF-8">
    <title>POS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@(assets)images/icon.png" />

    <link href="@(assets)dist/css/styles.css" rel="stylesheet" type="text/css" />
    @if (POS.Controllers.LanguageController.IsRighToLeft())
    {
<link href="@(assets)dist/css/rtl.css" rel="stylesheet" />
    }
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="@(assets)plugins/jQuery/jQuery-2.1.4.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.js"></script>*@
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <style>
        .btn {
            font-weight: bold
        }

        input.form-control {
            border-radius: 7px !important
        }

        .list-table .success {
            background-color: #b19dce !important;
            color: #fff
        }

            .list-table .success th {
                background-color: #987bc3 !important
            }

        .select2-container--default .select2-selection--single {
            border-radius: 7px !important
        }

        .pos .contents {
            padding: 15px !important
        }

        .text-white {
            color: #fff !important
        }

        .pos .contents {
            background-color: #fff !important
        }

        .nav-tabs-buttons {
            width: 75%;
            margin: auto;
            background-color: #605ca8;
            border-radius: 15px;
            margin-bottom: 2rem;
            overflow: hidden
        }

            .nav-tabs-buttons li {
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
            }

        .nav > li > a:active, .nav > li > a:focus, .nav > li > a:hover, .nav-tabs > li > a:hover {
            background-color: #4e499d !important;
            color: #fff !important
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: #4e499d
        }

            .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
                border-top-color: #4e499d;
            }

        .real-tabs li a:hover {
            background-color: #eee !important;
            color: #4e499d !important
        }

        #item-list .slimScrollDiv {
            height: 690px !important
        }

        .bank-btn {
            position: absolute;
            right: 0;
            z-index: 9;
            border-radius: 0 5px 5px 0;
        }
        /*Start Accordion Styles */
        .accordion-btn {
            background-color: #2C3E50;
            font-size: 1.5em;
            color: #ECF0F1;
            cursor: pointer;
            padding: 1em;
            width: 100%;
            text-align: left;
            border: none;
            transition: 0.5s;
        }

            .accordion-btn:after {
                content: '+';
                font-size: 1em;
                color: aliceblue;
                float: right;
                margin-left: 5px;
            }

            .accordion-btn.active,
            .accordion-btn:hover {
                background-color: #3f5973;
            }

                .accordion-btn.active:after {
                    content: "-";
                }

        .panel {
            background-color: #ECF0F1;
            max-height: 0;
            overflow: hidden;
            transition: 0.5s ease-in-out;
            opacity: 0;
        }

            .panel p {
                font-size: 1.2em;
                padding: 0 2em;
            }

            .panel.show {
                display: block;
                opacity: 1;
                max-height: 500px;
            }

        .inner-accord {
            background-color: #5b80a4;
            font-size: 1.2em;
            padding: 1em 1.75em;
        }

            .inner-accord.active,
            .inner-accord:hover {
                background-color: #7b99b7;
            }

        .select2-container {
            box-sizing: border-box;
            display: block;
            /* margin: 0; */
            position: relative;
            vertical-align: middle;
            width: 100% !important;
        }
        /*End Accordion Styles */
        .items-table-width{
    width:35%
}
.items-width {
    width: 65%
}
@@media only screen and (max-width: 768px) {
        .items-table-width, .items-width, .pos .contents #item-list .btn {
            width: 50%
        }
}
    </style>
</head>
<body class="skin-@theme_style sidebar-collapse sidebar-mini pos" style="background-color:#fff !important">
    <header class="main-header">
        <a href="@Url.Action("Index","Home")" class="logo">
            <span class="logo-mini">POS</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            @*<ul class="nav navbar-nav pull-left">
                <li class="dropdown">
                    <a href="@Url.Action("Index","Home")" class="dropdown-toggle" data-toggle="dropdown"><img src="@(assets)images/@(selected_language).png" alt="@selected_language"></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("SetLanguage","Language")?lang=en">
                                <img src="@assets/images/en.png" class="language-img">
                                English
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>*@
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="clock"></a></li>
                    <li><a href="@Url.Action("TablePage","POS")"><i class="fa fa-table"></i></a></li>
                    <li><a href="@Url.Action("Index","POS")"><i class="fa fa-th"></i></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#settingsModal"><i class="fa fa-cogs"></i></a></li>
                    <li><a href="@Url.Action("ViewBill","POS")" target="_blank"><i class="fa fa-desktop"></i></a></li>
                    <li class="hidden-xs hidden-sm"><a href="@Url.Action("shortcuts","POS")" data-toggle="ajax"><i class="fa fa-key"></i></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#" onclick="GetTodaySales()">@Resources.Default.today_sale</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#" onclick="GetGrandTotal()">@Resources.Default.close_register</a></li>
                    <li class="dropdown notifications-menu" id="suspended_sales">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">@Model.SuspendedSale.Count</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">
                                <input type="text" autocomplete="off" data-list=".list-suspended-sales" name="filter-suspended-sales" id="filter-suspended-sales" class="form-control input-sm kb-text clearfix" placeholder="@Resources.Default.filter_by_reference">
                            </li>
                            <li>
                                <ul class="menu">
                                    <li class="list-suspended-sales">
                                        @foreach (var item in Model.SuspendedSale)
                                        {
                                            <a href="#" value="@item.Id" class="load_hold">@item.Date.ToString("dd-MM-yyyy")   @item.Customer_name<br><div class="bold">@item.Hold_ref</div></a>
                                        }
                                    </li>
                                </ul>
                            </li>
                            @*<li class="footer"><a href="@Url.Action("opened","sales")">@Resources.Default.view_all</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Content/Avatar/@Session["Avatar"]" class="user-image" alt="Avatar" />
                            <span>@Session["first_name"] &nbsp;@Session["last_name"]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="~/Content/Avatar/@Session["Avatar"]" class="img-circle" alt="Avatar" />
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="content-wrapper">


        <table style="width:100%;" class="layout-table">
            <tr style="width:100%;">
                <td class="items-table-width">

                    <div id="pos" style="background-color:#fff">
                        <div class="well well-sm" id="leftdiv">
                            <div id="lefttop" style="margin-bottom:5px;">
                                <div class="form-group" style="margin-bottom:5px;">
                                    @Html.DropDownList("CustomerId", new SelectList(Model.CustomerInformation, "Id", "CustomerName"), "----- Select -----", htmlAttributes: new { @class = "form-control select2" })
                                </div>
                                <div class="form-group" style="margin-bottom:5px;">
                                    <input type="text" name="hold_ref" id="hold_ref" class="form-control kb-text" placeholder="@Resources.Default.reference_note" />
                                </div>
                                <div class="form-group" style="margin-bottom:5px;">
                                    <input type="text" name="code" id="add_item" class="form-control" placeholder="@Resources.Default.search__scan" />
                                </div>
                            </div>
                            <div id="printhead" class="print">
                                @header
                                <p>Date :@DateTime.Now</p>
                            </div>
                            <div id="print" class="fixed-table-container">
                                <div id="list-table-div">
                                    <div class="fixed-table-header">
                                        <table class="table table-striped table-condensed table-hover list-table" style="margin:0;">
                                            <thead>
                                                <tr class="success">
                                                    <th style="width: 35%;text-align:center;">@Resources.Default.product</th>
                                                    <th style="width: 15%;text-align:center;">@Resources.Default.qty</th>
                                                    <th style="width: 15%;text-align:center;">@Resources.Default.UnitPrice</th>
                                                    <th style="width: 20%;text-align:center;">VAT</th>
                                                    <th style="width: 20%;text-align:center;">@Resources.Default.total</th>
                                                    <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <table id="posTable" class="table table-striped table-condensed table-hover list-table" style="margin:0px;" data-height="100">
                                        <thead>
                                            <tr class="success">
                                                <th style="width: 35%;text-align:center;">@Resources.Default.product</th>
                                                <th style="width: 15%;text-align:center;">@Resources.Default.qty</th>
                                                <th style="width: 15%;text-align:center;">@Resources.Default.UnitPrice</th>
                                                <th style="width: 20%;text-align:center;">VAT</th>
                                                <th style="width: 20%;text-align:center;">@Resources.Default.total</th>
                                                <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div style="clear:both;"></div>
                                <div id="totaldiv">
                                    <table class="table table-condensed totals" style="margin-bottom:10px;width:100%">
                                        <tbody>
                                            <tr class="info">
                                                <td width="20%">@Resources.Default.total_items</td>
                                                <td style="text-align:end"><span id="count">0.00</span></td>
                                                <td width="20%">@Resources.Default.total</td>
                                                <td style="text-align:end" colspan="2"><span id="total">0.00</span></td>
                                            </tr>
                                            <tr class="info">
                                                <td width="20%"><a href="#" id="add_discount">@Resources.Default.discount</a></td>
                                                <td  style="text-align:end"><span id="ds_con">0.00</span></td>
                                                <td width="20%"><a href="#" id="add_tax">@Resources.Default.order_tax</a></td>
                                                <td style="text-align:end"><span id="ts_con">0.00</span></td>
                                            </tr>

                                            <tr class="success">
                                                <td colspan="2" style="font-size:20px;font-weight:bold">
                                                    @Resources.Default.total_payable
                                                </td>
                                                <td class="text-right" colspan="2" style="font-size:20px;font-weight:bold;text-align:end"><span id="total-payable">0.00</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @if (Model.SalesId == 0)
                            {


                                <div id="botbuttons">
                                    <div style="width:100%">
                                        <div style="width:49%;display:inline-block;padding:10px">
                                            <button type="button" class="btn btn-warning" id="suspend" style="border-radius:15px;width:100%;height:50px">
                                                @Resources.Default.hold
                                            </button>

                                        </div>
                                        <div style="width:49%;display:inline-block;padding:10px">
                                            <button type="button" class="btn btn-danger" id="reset" style="border-radius:15px;width:100%;height:50px">
                                                @Resources.Default.cancel
                                            </button>
                                        </div>

                                        <div style="width:100%;display:inline-block;padding:10px">
                                            <button type="button" class="btn btn-success" style="border-radius:15px;width:100%;height:60px" id="payment">@Resources.Default.payment</button>
                                        </div>
                                    </div>

                                </div>
                            }
                            <div class="clearfix"></div>
                            <span id="hidesuspend"></span>

                            <input type="hidden" name="customer" id="customer" value="@default_customer" />
                            <input type="hidden" name="order_tax" id="tax_val" value="" />
                            <input type="hidden" name="order_discount" id="discount_val" value="" />
                            <input type="hidden" name="count" id="total_item" value="" />
                            <input type="hidden" name="did" id="did_delete" />
                            <input type="hidden" name="eid" id="eid_delete" />
                            <input type="hidden" name="total_items" id="total_items" value="0" />
                            <input type="hidden" name="total_quantity" id="total_quantity" value="0" />
                            <input type="submit" id="submit" value="Submit Sale" style="display: none;" />
                            <input type="hidden" name="SuspendedSaleId" id="SuspendedSaleId" />
                            <input type="hidden" name="SalesId" id="SalesId" value="@Model.SalesId" />
                        </div>
                    </div>

                </td>
                <td class="items-width">
                    <div class="contents">

                        <ul class="nav nav-pills nav-justified nav-tabs-buttons">
                            @foreach (var item in Model.Group)
                            {
                                <li><a data-toggle="tab" href="#@item.Id" class="text-white">@item.GroupName</a></li>

                            }
                        </ul>
                        <div class="tab-content">
                            <ul class="nav nav-tabs real-tabs nav-justified">
                                @foreach (var item in Model.Category)
                                {
                                    <li><a data-toggle="tab" href="#@item.CategoryId" id="@item.GroupId" onclick="myfunction(@item.CategoryId)">@item.CategoryName</a></li>

                                }
                            </ul>

                        </div>
                        <br />

                        <div id="item-list">
                            <div class="items" id="emptyitems" style="width:100% !important"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="control-sidebar-bg sb"></div>
    <div id="order_tbl" style="display:none;">
        <span id="order_span"></span>
        <table id="order-table" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
    </div>
    <div id="bill_tbl" style="display:none;">
        <span id="bill_span"></span>
        <table id="bill-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
        <table id="bill-total-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"></table>
    </div>
    <div style="width:435px;background:#FFF;display:block">
        <div id="order-data" style="display:none;" class="text-center">
            <h1><?= $store->name; ?></h1>
            <h2>@Resources.Default.order</h2>
            <div id="preo" class="text-left"></div>
        </div>
        <div id="bill-data" style="display:none;" class="text-center">
            <h1><?= $store->name; ?></h1>
            <h2>@Resources.Default.bill</h2>
            <div id="preb" class="text-left"></div>
        </div>
    </div>

    <div id="ajaxCall"><i class="fa fa-spinner fa-pulse"></i></div>
    @if (Model.Registers.Status == "close" || Model.Registers.Status == null)
    {
        <div class="modal" data-easein="flipYIn" id="OpenRegisterPopup" tabindex="-1" role="dialog" aria-labelledby="mModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Open Register</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            Cash in hand
                            <div class="form-group">
                                <input class="form-control" id="open_reg" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="OpenRegister()">Open Register</button>
                    </div>
                </div>
            </div>
        </div>
    }



    <div class="modal" data-easein="flipYIn" id="dsModal" tabindex="-1" role="dialog" aria-labelledby="dsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="dsModalLabel">@Resources.Default.discount_title</h4>
                </div>
                <div class="modal-body">
                    <input type='text' class='form-control input-sm kb-pad' id='get_ds' onClick='this.select();' value=''>

                    <label class="checkbox" for="apply_to_order">
                        <input type="radio" name="apply_to" value="order" id="apply_to_order" checked="checked" />
                        @Resources.Default.apply_to_order
                    </label>
                    <label class="checkbox" for="apply_to_products">
                        <input type="radio" name="apply_to" value="products" id="apply_to_products" />
                        @Resources.Default.apply_to_products
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="button" id="updateDiscount" class="btn btn-primary btn-sm">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="tsModal" tabindex="-1" role="dialog" aria-labelledby="tsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="tsModalLabel">@Resources.Default.tax_title</h4>
                </div>
                <div class="modal-body">
                    @*<input type='text' class='form-control input-sm kb-pad' id='get_ts' onClick='this.select();' value=''>*@
                    <select class="select2 form-control">
                        <option>15%</option>
                        <option>10%</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="button" id="updateTax" class="btn btn-primary btn-sm">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 my-1">
                            <div class="form-group">
                                <label>Cash Account</label>
                                @Html.DropDownList("CachAccountId", new SelectList(Model.AccountTable, "ID", "AccountNameNo"@*,"AccountSecondaryNameNo"*@), "----- Select -----", htmlAttributes: new { @class = "form-control select2" })

                            </div>
                        </div>
                        <div class="col-md-6 my-1">
                            <div class="form-group">
                                <label>Tax Account</label>
                                @Html.DropDownList("TaxAccountId", new SelectList(Model.AccountTable, "ID", "AccountNameNo"@*,"AccountSecondaryNameNo"*@), "----- Select -----", htmlAttributes: new { @class = "form-control select2" })

                            </div>
                        </div>
                        <div class="col-md-6 my-1">
                            <div class="form-group">
                                <label>Sales Account</label>
                                @Html.DropDownList("SalesAccountId", new SelectList(Model.AccountTable, "ID", "AccountNameNo"@*,"AccountSecondaryNameNo"*@), "----- Select -----", htmlAttributes: new { @class = "form-control select2" })

                            </div>
                        </div>
                        <div class="col-md-6 my-1">
                            <div class="form-group">
                                <label>Voucher Type</label>
                                @Html.DropDownList("TransTypeNo", new SelectList(Model.TransTypeTable, "ID", "TransType"@*,"TransTypeArabic"*@), "----- Select -----", htmlAttributes: new { @class = "form-control select2" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <input type="submit" onclick="SaveSettings()" value="Save" data-dismiss="modal" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="closeRegisterModal" tabindex="-1" role="dialog" aria-labelledby="closeRegisterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Close Register (Opened at: @Model.Registers.Date)</h4>
                </div>
                <div class="modal-body">
                    <table width="100%" class="stable">
                        <tbody>
                            <tr>
                                <td style="border-bottom: 1px solid #EEE;"><h4>Cash in hand:</h4></td>
                                <td style="text-align:right; border-bottom: 1px solid #EEE;">
                                    <h4>
                                        <span>@Model.Registers.Cash_in_hand.ToString("0.00")</span>
                                    </h4>
                                </td>
                            </tr>
                            @foreach (var item in Model.PaymentMethod)
                            {
                                <tr>
                                    <td style="border-bottom: 1px solid #EEE;"><h4> @item.Name:</h4></td>
                                    <td style="text-align:right; border-bottom: 1px solid #EEE;">
                                        <h4>
                                            <span id="P_@item.MethodId">0.00</span>
                                        </h4>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td width="300px" style="font-weight:bold;">
                                    <h4><strong>Total Cash</strong>:</h4>
                                </td>
                                <td style="text-align:right;">
                                    <h4>
                                        <span><strong id="totalcash">0.00</strong></span>
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">

                    <input type="submit" onclick="CloseRegister()" name="close_register" value="Close Register" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
    <div class="modal" data-easein="flipYIn" id="todaySalesModal" tabindex="-1" role="dialog" aria-labelledby="todaySalesModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Today's Sale (@DateTime.Now.Date.ToString("dd-MM-yyyy"))</h4>
                </div>
                <div class="modal-body">
                    <table width="100%" class="stable">
                        <tbody>
                            @foreach (var item in Model.PaymentMethod)
                            {
                                <tr>
                                    <td style="border-bottom: 1px solid #EEE;"><h4> @item.Name:</h4></td>
                                    <td style="text-align:right; border-bottom: 1px solid #EEE;">
                                        <h4>
                                            <span id="Pt_@item.MethodId">0.00</span>
                                        </h4>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td width="300px" style="font-weight:bold;">
                                    <h4><strong>Total Cash</strong>:</h4>
                                </td>
                                <td style="text-align:right;">
                                    <h4>
                                        <span><strong id="todaytotalcash">0.00</strong></span>
                                    </h4>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" data-easein="flipYIn" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="noteModalLabel">@Resources.Default.note</h4>
                </div>
                <div class="modal-body">
                    <textarea name="snote" id="snote" class="pa form-control kb-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button type="button" id="update-note" class="btn btn-primary btn-sm">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="proModal" tabindex="-1" role="dialog" aria-labelledby="proModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="proModalLabel">
                        @Resources.Default.payment
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th style="width:25%;">@Resources.Default.net_price</th>
                            <th style="width:25%;"><span id="net_price"></span></th>
                            <th style="width:25%;">@Resources.Default.product_tax</th>
                            <th style="width:25%;"><span id="pro_tax"></span> <span id="pro_tax_method"></span></th>
                        </tr>
                    </table>
                    <input type="hidden" id="row_id" />
                    <input type="hidden" id="item_id" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <?=lang('unit_price', 'nPrice')?>
                                <input type="text" class="form-control input-sm kb-pad" id="nPrice" onClick="this.select();" placeholder="@Resources.Default.new_price">
                            </div>
                            <div class="form-group">
                                <?=lang('discount', 'nDiscount')?>
                                <input type="text" class="form-control input-sm kb-pad" id="nDiscount" onClick="this.select();" placeholder="@Resources.Default.discount">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <?=lang('quantity', 'nQuantity')?>
                                <input type="text" class="form-control input-sm kb-pad" id="nQuantity" onClick="this.select();" placeholder="@Resources.Default.current_quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <?=lang('comment', 'nComment')?>
                                <textarea class="form-control kb-text" id="nComment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button class="btn btn-success" id="editItem">@Resources.Default.update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="susModal" tabindex="-1" role="dialog" aria-labelledby="susModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="susModalLabel">@Resources.Default.suspend_sale</h4>
                </div>
                <div class="modal-body">
                    <p>@Resources.Default.type_reference_note</p>

                    <div class="form-group">
                        @Resources.Default.reference_note
                        <textarea class="form-control kb-text" id="reference_note"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> @Resources.Default.close </button>
                    <button type="button" id="suspend_sale" class="btn btn-primary">@Resources.Default.submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="payModalLabel">
                        @Resources.Default.payment
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12" style="padding:0 1rem">
                            <div class="font16">
                                <table class="table table-bordered table-condensed" style="margin-bottom: 0;">
                                    <tbody>
                                        <tr>
                                            <td width="25%" style="border-right-color: #FFF !important;">@Resources.Default.total_items</td>
                                            <td width="25%" class="text-right"><span id="item_count">0.00</span></td>
                                            <td width="25%" style="border-right-color: #FFF !important;">@Resources.Default.total_payable</td>
                                            <td width="25%" class="text-right"><span id="twt">0.00</span></td>
                                        </tr>
                                        <tr>
                                            <td style="border-right-color: #FFF !important;">@Resources.Default.total_paying</td>
                                            <td class="text-right"><span id="total_paying">0.00</span></td>
                                            <td style="border-right-color: #FFF !important;">@Resources.Default.balance</td>
                                            <td class="text-right"><span id="balance">0.00</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Resources.Default.note
                                        <textarea name="note" id="note" class="pa form-control kb-text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Resources.Default.amount
                                        <input name="amount" type="text" id="amount"
                                               class="pa form-control kb-pad amount" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        Payment Method
                                        @Html.DropDownList("PaymentMethod", new SelectList(Model.PaymentMethod, "MethodId", "Name"), "----- Select -----", htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row" id="ChN">
                                        <div class="col-lg-4 col-md-6 col-sm-12" id="ChequeNumber" style="display:none">
                                            <div class="form-group">
                                                <label>Cheque Number</label>
                                                @Html.Editor("ChequeNumber", new { htmlAttributes = new { @class = "form-control", id = "ChequeNumbers" } })
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12" id="ChequeBanks" style="display:none">
                                            <div class="form-group">
                                                <label>ChequeBank</label>
                                                <div class="input-group" style="position: relative">
                                                    @Html.Editor("ChequeBankName", new { htmlAttributes = new { @class = "form-control", id = "ChequeBankName", @readonly = "readonly" } })
                                                    <button class="btn btn-primary bank-btn" type="button" id="btnSearchBank" data-toggle="modal" data-target="#BankModal"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12" id="DateCheque" style="display:none">
                                            <div class="form-group">
                                                <label>Date</label>
                                                @Html.Editor("GregorianChequebankDate", new { htmlAttributes = new { @class = "form-control datepicker", @id = "datepickergregoris1" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@Resources.Default.close</button>
                    <button class="btn btn-primary" id="submit-sale">@Resources.Default.submit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="BankModal" class="modal" data-easein="flipYIn" tabindex="-1" role="dialog" aria-labelledby="bankModalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Bank Details</h4>
                </div>
                <div class="modal-body">
                    <div class="accordion">
                        @if (Model.oBankBranch != null)
                        {
                            foreach (var item in Model.oBankBranch.oLBank)
                            {
                                <div class="accordion-btn">@Html.DisplayFor(modelItem => item.BankPrimaryName)</div>
                                <div class="panel">
                                    @foreach (var itemd in Model.oLBankBranch)
                                    {

                                        if (item.BankId == itemd.BankId)
                                        {
                                            <p onclick="sendBank('@itemd.BranchPrimaryName','@item.BankId')" data-dismiss="modal">@Html.DisplayFor(modelItem => itemd.BranchPrimaryName)</p>

                                        }
                                    }
                                    @*<div class="accordion-btn inner-accord">Nested Accordion 1</div>
                                        <div class="panel">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium hendrerit vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sed vehicula eros, at rhoncus turpis.</p>
                                        </div>*@
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="AssignUserModal" class="modal" data-easein="flipYIn" tabindex="-1" role="dialog" aria-labelledby="assignUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Assign User</h4>
                </div>
                <div class="modal-body">
                    <div class="accordion">
                        @foreach (var parent in Model.Workshops)
                        {
                            if (parent.BranchWorkshop.Count > 0)
                            {
                                <div class="accordion-btn">@parent.ParentWorkshop.PrimaryName</div>
                                <div class="panel">

                                    @foreach (var branch in parent.BranchWorkshop)
                                    {
                                        <div class="accordion-btn inner-accord" onclick="sendTask('@branch.Id','@branch.PrimaryName')">@branch.PrimaryName</div>
                                        <div class="panel">
                                            @foreach (var sub in parent.SubBranchWorkshop)
                                            {
                                                if (sub.ParentId == branch.Id)
                                                {
                                                    <p onclick="sendTask('@sub.Id','@branch.PrimaryName')">@sub.PrimaryName</p>

                                                }

                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>





    <script type="text/javascript">
        $(document).ready(function () {
            $("#OpenRegisterPopup").show();
            $("#close-now").click(function () {
                $("#OpenRegisterPopup").hide();
            });

        });

        jsonObj = [];
        sale_items = [];
        $(document).ready(function () {
            if (@Model.SettingAccounts.ID !=0)
            {
                  $('#TransTypeNo').val(@Model.SettingAccounts.TransTypeNo);
                $('#CachAccountId').val(@Model.SettingAccounts.CachAccountId);
                $('#SalesAccountId').val(@Model.SettingAccounts.SalesAccountId);
                $('#TaxAccountId').val(@Model.SettingAccounts.TaxAccountId);
            }

            if (localStorage.getItem("Items") === null) {
                $.ajax({
                type: 'get',
                    url: "@Url.Action("Get_Items", "POS")?CompanyId=" + @Model.CompanyId +"&BranchId=" +@Model.BranchId+"&Language=en",
                    contentType: 'application/json',
                    dataType: 'json',
                    data: {},
                    success: function (data) {


                        for (var i = 0; i < data.length; i++) {

                            var item = [];
                            item["id"] = data[i].ItemId;
                            item["Product_id"] = data[i].ItemId;
                            item["Product_name"] = data[i].ItemPrimaryName + "-" + data[i].ItemBarcode;
                            item["label"] = data[i].ItemPrimaryName + "-" + data[i].ItemBarcode;
                            item["Quantity"] = 1;
                            item["Product_code"] = data[i].ItemBarcode;
                            item["Price"] = data[i].Price;
                            item["Tax"] = data[i].taxRate;
                            item["Service"] = data[i].Service;
                            item["UnitId"] = data[i].UnitId;
                            item["TaxClassificationNo"] = data[i].TaxClassificationNo;
                            jsonObj.push(item);

                        }
                        debugger
                        window.localStorage.setItem('Items', JSON.stringify(data));
                    }
                });
            }
            else {               
               var  JsonArr = JSON.parse(get('Items'));
                 for (var i = 0; i < JsonArr.length; i++) {
                            var item = [];
                            item["id"] = JsonArr[i].ItemId;
                            item["Product_id"] = JsonArr[i].ItemId;
                            item["Product_name"] = JsonArr[i].ItemPrimaryName + "-" + JsonArr[i].ItemBarcode;
                            item["label"] = JsonArr[i].ItemPrimaryName + "-" + JsonArr[i].ItemBarcode;
                            item["Quantity"] = 1;
                            item["Product_code"] = JsonArr[i].ItemBarcode;
                            item["Price"] = JsonArr[i].Price;
                            item["Tax"] = JsonArr[i].taxRate;
                            item["Service"] = JsonArr[i].Service;
                            item["UnitId"] = JsonArr[i].UnitId;
                            item["TaxClassificationNo"] = JsonArr[i].TaxClassificationNo;
                            jsonObj.push(item);

                        }
            }

        });
        function myfunction(id) {
            $("#emptyitems").empty();
            $.ajax({
              type: 'get',
              url: "@Url.Action("GetItemsByCategoryId", "POS")?Id=" + id ,
              contentType: 'application/json',
              dataType: 'json',
              data: {},
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Image != "") {
                            $("#emptyitems").append('<button type="button" data-taxno="'+data[i].TaxClassificationNo+'" data-unitid="'+data[i].UnitId+'" data-unitid="'+data[i].UnitId+'" data-service="' + data[i].Service+'"  data-name="' + data[i].ItemName + '" data-price="' + data[i].Price + '" data-qty="' + data[i].Qty + '" data-itembarcode="' + data[i].ItemBarcode + '" data-taxrate="' + data[i].taxRate +'" id=' + data[i].ItemId + ' value=' + data[i].ItemId + ' class="btn btn-both btn-flat product"><span class="bg-img"><img src="@Model.ImageUrl' + data[i].Image + '" alt=' + data[i].ItemName + ' style="width: 100%; height: 200px;"></span><span><span style="float:right;text-align:right;width:70%">' + data[i].ItemName + '</span><span class="real_unit_price" style="float:left;text-align:left;width:29%">' + data[i].Price +'</span></span></button>');
                        } else {
                            $("#emptyitems").append('<button type="button" data-taxno="'+data[i].TaxClassificationNo+'" data-unitid="'+data[i].UnitId+'"  data-service="' + data[i].Service +'" data-name=' + data[i].ItemName + ' data-price=' + data[i].Price + 'data-qty=' + data[i].Qty + 'data-itembarcode=' + data[i].ItemBarcode + 'data-taxrate=' + data[i].taxRate + ' id=' + data[i].ItemId + ' value=' + data[i].ItemId + ' class="btn btn-both btn-flat product"><span class="bg-img"><img src="@Model.ImageUrl'+'637720557797713568.jfif" alt=' + data[i].ItemName + ' style="width: 100%; height: 200px;"></span><span><span style="float:right;text-align:right;width:70%">' + data[i].ItemName + '</span><span class="real_unit_price" style="float:left;text-align:left;width:29%">' + data[i].Price + '</span></span></button>');
                        }
                    }

                        }
            });

        }
        var Settings = {

                    setting_id : 1,

                    decimals : 2,
               dateformat : "D j M Y",
         timeformat : "h:i A",
                                rounding : 1,
            pin_code: 2122,
                                           focus_add_item : "ALT+F1",
                    add_customer : "ALT+F2",
                    toggle_category_slider : "ALT+F10",
                    cancel_sale : "ALT+F5",
                    suspend_sale : "ALT+F6",
                    print_order : "ALT+F11",
                        print_bill : "ALT+F12",
                            finalize_sale : "ALT+F8",
                            today_sale : "Ctrl+F1",
                            open_hold_bills : "Ctrl+F2",
                            close_register : "Ctrl+F7",


        };
    var base_url = '@Request.Url.GetLeftPart(UriPartial.Authority)', assets = '@(assets)';
    var dateformat = '@(dateformat)', timeformat = '@(timeformat)';
    @*<?php unset(@protocol, @smtp_host, @smtp_user, @smtp_pass, @smtp_port, @smtp_crypto, @mailpath, @timezone, @setting_id, @default_email, @version, @stripe, @stripe_secret_key, @stripe_publishable_key); ?>*@
    var sid = false, username = '@Session["user_name"]', spositems = {};

        var pro_limit = @pro_limit, java_applet = 0, count = 1, total = 0, an = 1, p_page = 0, page = 0, cat_id = @default_category, tcp = '588';
        var gtotal = 0, order_discount = 0, order_tax = 0, protect_delete = (Settings.pin_code);@*To add popup again just add  ? 1 : 0 after Settings.pin_code*@
    var order_data = {}, bill_data = {};
        var csrf_hash = 'csrf';/*<?= $this -> security -> get_csrf_hash(); ?>*/
    if (@remote_printing == 2) {
        var ob_store_name = "My Store";
        order_data.store_name = ob_store_name;
        bill_data.store_name = ob_store_name;

        ob_header = "";
        ob_header += "My Store Header";

        if (@store_address1.Length > 0) {
            ob_header += "My Store Header Address1";
        }
        if (@store_address2.Length > 0) {
            ob_header += "My Store Header Address2";
        }
        if (@store_city.Length > 0) {
            ob_header += "My Store Header City";
        }
        ob_header += "Phone: @store_phone, @printer_char_per_line \r\n\r\n";

        order_data.header = ob_header + "@Resources.Default.order, @printer_char_per_line \r\n\r\n";
        bill_data.header = ob_header + "@Resources.Default.bill, @printer_char_per_line \r\n\r\n";
        order_data.totals = '';
        order_data.payments = '';
        bill_data.payments = '';
        order_data.footer = '';
        bill_data.footer = "@Resources.Default.bill \n";
    }

        $(document).ready(function () {
         //   if (@Session["rmspos"].ToString()) {
            if (get('spositems')) { remove('spositems'); }
            if (get('spos_discount')) { remove('spos_discount'); }
            if (get('spos_tax')) { remove('spos_tax'); }
            if (get('spos_note')) { remove('spos_note'); }
            if (get('spos_customer')) { remove('spos_customer'); }
            if (get('amount')) { remove('amount'); }
      //  }
            @Session["rmspos"]= false;
            if (get('rmspos')) {
                if (get('spositems')) { remove('spositems'); }
                if (get('spos_discount')) { remove('spos_discount'); }
                if (get('spos_tax')) { remove('spos_tax'); }
                if (get('spos_note')) { remove('spos_note'); }
                if (get('spos_customer')) { remove('spos_customer'); }
                if (get('amount')) { remove('amount'); }
                remove('rmspos');
            }

        });
        function OpenRegister() {
                    var result = {
            "Cash_in_hand": $("#open_reg").val(),


        };
                        $.ajax({
              type: 'Post',
              url: "@Url.Action("OpenRegister", "Registers")" ,
              contentType: 'application/json',
              dataType: 'json',
              data: JSON.stringify(result),
                success: function (data) {

                     window.location.href ="@Url.Action("Index", "POS")" ;
                        }
            });
        }
            function getPaymentMethod() {
        var PaymentMethod = $('#PaymentMethod').val();

        $.ajax({
            type: "Post",
            url: "@Url.Action("PaymentMethod_Get", "POS")" + '?MethodId=' + PaymentMethod +  "&BranchId="+@Model.BranchId,
            dataType: 'json',
            data: {},
            contentType: 'application/json',
            success: function (data) {
                if (data[0].ChequesNumber === true) {
                    $("#ChequeNumber").show();
                    chkN = true;
                }
                else {
                    $("#ChequeNumber").hide();
                    $("#ChequeNumbers").removeClass("invalid");
                    chkN = false;
                }
                if (data[0].ChequeBank === true) {
                    chkB = true;
                    $("#ChequeBanks").show();
                }
                else {
                    chkB = false;
                    $("#ChequeBanks").hide();
                    $("#ChequeBankName").removeClass("invalid");
                }
                if (data[0].RequestDate === true) {
                    chkD = true;
                    $("#DateCheque").show();
                }
                else {
                    chkD = false;
                    $("#datepickergregoris1").removeClass("invalid");
                    $("#DateCheque").hide();
                }
            }
        });
        }
        $('#PaymentMethod').on('change', function () {
               debugger
        getPaymentMethod();
           });
            function SearchBankByName() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("txtSearchBankByName");
        filter = input.value.toUpperCase();
        table = document.getElementById("BankTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("a")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
        function GetGrandTotal() {
         $.ajax({
              type: 'get',
              url: "@Url.Action("Get_PaymentMethod_Paid", "POS")" ,
              contentType: 'application/json',
              dataType: 'json',
              data: {},
                success: function (data) {
                    debugger
                    var total=0
                    for (var i = 0; i < data.length; i++) {
                        total += data[i].Grand_total;
                        $("#P_" + data[i].Status).html(parseFloat(data[i].Grand_total));
                    }
                    //$('#grandtotal').html(parseFloat(data[i].Grand_total))
                    var totalhand=@Model.Registers.Cash_in_hand +parseFloat(total);
                    $('#totalcash').html(totalhand);
                     $('#closeRegisterModal').modal()
                        }
            });
        }
        function GetTodaySales() {
            $.ajax({
              type: 'get',
              url: "@Url.Action("Get_TodaySales", "POS")" ,
              contentType: 'application/json',
              dataType: 'json',
              data: {},
                success: function (data) {
                    debugger
                    var total=0
                    for (var i = 0; i < data.length; i++) {
                        total += data[i].Grand_total;
                        $("#Pt_" + data[i].Status).html(parseFloat(data[i].Grand_total));
                    }
                    $('#todaytotalcash').html(parseFloat(total));
                     $('#todaySalesModal').modal()
                        }
            });
        }
        function SaveSettings() {
            var SettingsAccounts = {
                        TransTypeNo :  $('#TransTypeNo').val(),
                        CachAccountId :  $('#CachAccountId').val(),
                        SalesAccountId :  $('#SalesAccountId').val(),
                        TaxAccountId :  $('#TaxAccountId').val()
            }
             $.ajax({
              type: 'Post',
              url: "@Url.Action("InsertOrUpdateSettingAccounts", "Settings")" ,
              contentType: 'application/json',
              dataType: 'json',
              data: JSON.stringify(SettingsAccounts) ,
                success: function (data) {
                     window.location.href ="@Url.Action("Index", "POS")" ;

                        }
            });
        }
        function CloseRegister() {
                    var result = {
                        "Cash_in_hand": @Model.Registers.Cash_in_hand,
                        "Status": "close",
                        "Total_cash":parseFloat($('#totalcash').html())
                        };
                         $.ajax({
              type: 'Post',
              url: "@Url.Action("CloseRegister", "Registers")" ,
              contentType: 'application/json',
              dataType: 'json',
              data: JSON.stringify(result) ,
                success: function (data) {
                     window.location.href ="@Url.Action("Index", "POS")" ;

                        }
            });
        }
    function contains(text_one, text_two) {
        return text_one.toLowerCase().indexOf(text_two.toLowerCase()) != -1;
    }

    $("#txtSearchBankByNames").keyup(function () {
        var searchText = $(this).val();
        $("#BankBranchTable div").each(function () {
            $(this).toggle(contains($(this).text(), searchText));

        });
    });



    function sendBank(ChequeBankName,ChequeId) {

        document.getElementById("ChequeBankName").value = ChequeBankName;
        document.getElementById("ChequeBank").value = ChequeId;
    }
        function sendTask(Id, PrimaryName) {

            document.getElementById("AssignId").value = PrimaryName;
        }
    </script>


    <script src="@(assets)dist/js/libraries.min.js" type="text/javascript"></script>
    <script src="@(assets)dist/js/scripts.min.js" type="text/javascript"></script>
    <script src="@(assets)dist/js/pos.min.js" type="text/javascript"></script>
    @if (@remote_printing != 1)
    {
        <script src="@(assets)dist/js/htmlimg.js"></script>
    }
    <script>
        $(".datepicker").datepicker();
        // Toggle 'active' and 'show' states of panels

        var accord = document.getElementsByClassName("accordion-btn");
        var i;

        for (i = 0; i < accord.length; i++) {
            accord[i].onclick = function () {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
        $(document).ready(function () {
            if ($(window).width() <= 768) {
                $(".nav.nav-tabs.real-tabs.nav-justified").removeClass("nav-justified");
            }
        })

    </script>
</body>
</html>
