@model POCO.Main
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="content">
        @if (Model.IsWorkShop == true)
        {
            <h3>Orders Table</h3>
        }
        else
        {
            <h3>Invoices Table</h3>
        }
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-body">
                        <div class="table-responsive">
                            <input type="hidden" name="SalesId" id="SalesId" value="@Model.SalesId" />
                            <table id="SLData" class="table table-striped table-bordered table-condensed table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        @if (Model.IsWorkShop == true)
                                        {
                                            <th>Vehicle</th>
                                        }
                                        else
                                        {
                                            <th>Customer</th>
                                        }

                                        <th>Total</th>
                                        <th>Tax</th>
                                        <th>Discount</th>
                                        <th>Grand Total</th>
                                        <th>Paid</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Sales)
                                    {
                                        <tr role="row" class="odd" id="13">
                                            <td>@item.Date</td>
                                            @if (Model.IsWorkShop == true)
                                            {
                                                <td>@item.Vehicle_name</td>
                                            }
                                            else
                                            {
                                                <td>@item.Customer_name</td>
                                            }

                                            <td>@item.Total</td>
                                            <td>
                                                @item.Product_tax
                                            </td>
                                            <td>
                                                @item.Order_discount
                                            </td>
                                            <td>
                                                @item.Grand_total
                                            </td>
                                            <td>
                                                @item.Paid
                                            </td>

                                            <td>
                                                <a href="@Url.Action("Index", "POS")?Id=@item.Id" class="tip btn btn-primary btn-sm"><i class="fa fa-eye"></i>&nbsp; View</a>
                                                <a href="@Url.Action("PrintOrder", "POS")?Id=@item.Id&IsWorkShop=@(Model.IsWorkShop ==true ? "true":"false")" class="tip btn btn-success btn-sm"><i class="fa fa-print"></i>&nbsp; Print</a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot class="text-center">
                                    <tr>
                                        <th>Date</th>
                                        @if (Model.IsWorkShop == false)
                                        {
                                            <th>Customer</th>
                                        }
                                        else
                                        {
                                            <th>Vehicle</th>
                                        }
                                        <th>Total</th>
                                        <th>Tax</th>
                                        <th>Discount</th>
                                        <th>Grand Total</th>
                                        <th>Paid</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>